/* ===========================================
Stylesheet für flatanize
Datei: style.css
Autor: Nico Florin
============================================*/

/* ===========================================
    Global Styles
============================================*/
/* Definiere eigene font */
@font-face {
    font-family: 'century-gothic';
    src: url('../fonts/century-gothic.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-y: scroll; /* scrollbar immer anzeigen */
}

body {
    margin-top: 80px; /* Abstand zu Navigation.*/
    /* margin-bottom: 60px; /* Abstand zu Footer */
    background-color: #F9F9F9;
    font-size: 1.5em;
    font-family: century-gothic;
}

/* Linke Navigation */
aside {
    width: 20%;
    float: left;
}
/* Hauptinhalt rechts */
#mainContent {
    width: 77%;
    float: right;
}

/* Well Einstellungen */
.well .page-header {
    margin-top: 0px;   
    margin-bottom: 15px;
    padding-bottom: 0px;
}

.well .page-header h1 {
    margin-top: 0;   
}

/* text in panel ohne margin */
div.panel-body > p {
    margin: 0;
}

/* =========================================== */
/* Tabellen */

/* Tabellen standardmässig vertikal zentriert */
.table > tbody > tr > td {
    vertical-align: middle;
}

.table > thead > tr > th {
    border-bottom: 0px;
}

/* Für weisse font-awesome */
.whiteIcon {
    color: #fff;
}

/* =========================================== */
/* Shopping List */
.nopadding-right {
    padding-right: 1px;
}

.nopadding-left {
    padding-left: 1px;
}

.nopadding {
    padding: 0px !important;
}


/* =========================================== */
/* Finanzen */
/* Default margin-bottom bei progressbar löschen */
.progress {
    margin-bottom: 0px;
}

/* Damit Text in Progressbar zentriert ist */
.progress {
    position: relative;
}
/* Damit Text in Progressbar immer zentriert ist */
.progress span {
    position: absolute;
    left: 0;
    width: 100%;
    color: black;
}

/* ===========================================
    Navbar
============================================*/

/* Hover, focus anpassung für Navigation */
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: #D5D5D5;
    color: #000; /* black font when hover */
}

/* Brand Icon Anpassung für Grosse Bildschirme */
.brand {
    margin-top: 5px;
    margin-right: 10px;
    display: block;
}

/* Button für linke Navigation */
#leftMenuBtn {
    float: left;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Pseudo Label für Rechten Content */
.bigLabel {
    display: none; /* wir nur angezeigt, wenn collapsed */
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 0;
}


/* ===========================================
    Left Navigation
============================================*/

/* Hover, focus anpassung für linke Navigation */
.nav  > li > a:hover, .nav > li > a:focus {
    background-color: #D5D5D5;
    color: #000;
}

/* ===========================================
    Carousel
============================================*/

#mainCarousel {
    /* margin-top: 60px;   /* margin to the navigation, when nav-fixed-top */
}

.carousel-caption {
    font-size: 24px; /* font size von carousel text */
}

.carousel-caption h4 {  /* font size von carousel titel */
    font-size: 32px
}


/* ===========================================
    Standard Carousel Einstellungen
============================================*/
#mainCarousel .item {
    height: 500px;   
}

#slide1 {
    background: url('../images/carousel_medium_01.jpg') top center no-repeat;
}

#slide2 {
    background: url('../images/carousel_medium_01.jpg') top center no-repeat;
}

#slide3 {
    background: url('../images/carousel_medium_01.jpg') top center no-repeat;
}


/* ===========================================
    Callout
============================================*/

#mainCallout {
    margin-top: 10px; /* kleiner Abstand zu top für mainCallout */   
}

/* ===========================================
    Footer
============================================*/
footer {
    position: fixed; /* immer fix */
    bottom: 0; /* am unteren Rand */
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100%;
    background-color: #F9F9F9; /* gleich wiw bg color */
    border-top: 1px solid #E3E3E3; /* Rahmen oben hellgrau */
    display: block;
}

footer > div {
    height: 100%; /* ganzer footer ausfüllen */
}

footer > div > p {
    /* Text vertical zentrieren */
    margin-top: 15px; 
    margin-bottom: 15px;
}

/* ===========================================
    Media Queries
============================================*/

/* Portrait & landscape Smartphone */
@media (max-width: 480px) {

    /* ===========================================
        Global Styles
    ============================================*/
    /* Damit auf Smartphone nicht zu viel Platz */
    /* verschwendet wird */
    .well {
        padding: 5px;
    }

    .panel-body {
        padding: 5px
    }

    body {
        margin-top: 60px; /* Abstand zu Navigation.*/
    }

    /* =========================================== */
    /* Shopping List */
    .nopadding-right-xs {
        padding-right: 1px;
    }

    .nopadding-left-xs {
        padding-left: 1px;
    }

    .nopadding-xs {
        padding: 0px !important;
    }
}

/* Landscape phone bis portrait tablet */
@media (max-width: 768px) {
    /* ===========================================
        Global Styles
    ============================================*/
    html, body {
        overflow-x: hidden;/* kein Scrollen nach links und rechts */
    }

    body {
        margin-top: 58px; /* Abstand zu Navigation.*/
    }

    /* Grösse des Container bis fast an Rand */
    #mainContainer {
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
    }
    /* ===========================================
        Navbar
    ============================================*/

    /* Logo bei Tablet und kleiner zentriert anzeigen */
    .brand {
        margin-top: 5px;
        position: absolute;
        left: 50%;
        margin-left: -20px !important;  /* 50% von logo */
        display: block;
    }

    /* ===========================================
        Linke Navigation auf Mobile - Toggle
    ============================================*/
    /* linke Navigation */
    aside {
        padding: 0;
        left: -50%; /* Versteckt */
        width: 50%; /* Breite von Nav */
        height: 100%; /* volle höhe */
        float: left;
        position: fixed; /* nicht scrollbar */
        top: 50px; /* genau unter Navigation */
        bottom: 0; /* bis zum boden */
        z-index: 1000; /* immer vorderster layer */
    }

    /* Hauptcontent */
    #mainContent {
        width: 100%;
        height: 100%;
        float: right;
    }

    /* Langsam einfliegen */
    aside, #mainContent {
        -webkit-transition: 0.25s ease; /* Safari und Chrome */
        -moz-transition: 0.25s ease;
        -o-transition: 0.25s ease;
        transition: 0.25s ease;
    }

    /* Schiebe Left Menu nach rechts */
    #leftNav.showLeftMenu {
        left: 0;
    }

    /* Schiebe Content nach rechts */
    #mainContent.moveRight {
        margin-right: -52%; /* abstand zu linkem rand, nach rechts verschieben */
    }

    /* Damit Content Recht klickbar wird */
    .showBigLabel {
        display: block;
    }

    /* ===========================================
        Linke Navigation auf Mobile - Design
    ============================================*/
    #leftNav {
        background-color: #222; /* Hintergrund gleich navbar */
    }

    /* Design Linke Navigation*/
    .nav-pills > li.active > a, 
    .nav-pills > li.active > a:focus, 
    .nav-pills > li.active > a:hover {
        background-color: #000;
        color: #fff;
    }

    /* Design Linke Navigation*/
    .nav-pills > li > a {
        color: #9d9d9d;
        border-radius: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /* Rahmen unterhalt Nav li elemente */
    .nav-pills > li {
        border-bottom: 1px solid;
    }

    /* Kein Abstand zwischen Nav li Elementen */
    .nav-stacked>li+li  {
        margin: 0;
    }

    /* ===========================================
        Carousel Einstellungen
    ============================================*/
    #mainCarousel .item {
        height: 310px;   
    }

    #slide1 {
        background: url('../images/carousel_small_01.jpg') top center no-repeat;
    }

    #slide2 {
        background: url('../images/carousel_small_01.jpg') top center no-repeat;
    }

    #slide3 {
        background: url('../images/carousel_small_01.jpg') top center no-repeat;
    }

    /* Kleinere Schriftgrösse für kleinere Bildschirme */
    .carousel-caption {
        font-size: 16px;   
    }

    .carousel-caption h4 {
        font-size: 22px; 
    }
}

/* Grosse Bildschirme / Desktops */
@media (max-width: 1200px) {

    /* ===========================================
        Carousel Einstellungen
    ============================================*/
    #mainCarousel .item {
        height: 500px;   
    }

    #slide1 {
        background: url('../images/carousel_large_01.jpg') top center no-repeat;
    }

    #slide2 {
        background: url('../images/carousel_large_01.jpg') top center no-repeat;
    }

    #slide3 {
        background: url('../images/carousel_large_01.jpg') top center no-repeat;
    }
}