/* ===========================================
Stylesheet für flatanize
Datei: style.css
Autor: Nico Florin
============================================*/

/* ===========================================
    Screens grösser als 1200px
============================================*/
/* ===========================================
    Global Styles
============================================*/

html {
    overflow-y: scroll; /* scrollbar immer anzeigen */
    height: 100%
}

body {
    margin-top: 80px; /* Abstand zu Navigation.*/
    background-color: #F9F9F9;
    /* Font Muli in header importiert */
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
}

/* =========================================== */
/* Sidebar */
aside {
    width: 20%;
    float: left;
}

/* =========================================== */
/* Hauptinhalt rechts */
#mainContent {
    width: 77%;
    float: right;
}

/* =========================================== */
/* Well Einstellungen */


.well .page-header {
    margin-top: 0;   
    margin-bottom: 15px;
    padding-bottom: 0;
}

/* Kein Abstand top für Titel in Header in Well */
.well .page-header h1 {
    margin-top: 0;   
}

/* =========================================== */
/* Diverses

/* kein Margin abstand */
.noMargin {
    margin: 0;
}

/* letztes Form element in panel-body ohne Abstand bottom */
.panel-body > form > div:last-of-type {
    margin-bottom: 0;
}

/* leicht eingerückt */
.indent {
    padding-left: 40px !important;
}

/* kleiner Abstand oben für Badges */
.badge {
    margin-top: 2px;
}

/* Für weisse font-awesome */
.whiteIcon {
    color: #fff;
}

/* =========================================== */
/* Tabellen */

/* Tabellen standardmässig vertikal zentriert */
.table > tbody > tr > td {
    vertical-align: middle;
}

/* Kein Border bottom für Tabellen Titel */
.table > thead > tr > th {
    border-bottom: 0;
}

/* Kein Abstand bottom für Tabellen */
.table {
    margin-bottom: 0;
}

/* =========================================== */
/* Shopping List */
.nopadding-right {
    padding-right: 1px;
}

.nopadding-left {
    padding-left: 1px;
}

.nopadding {
    padding: 0 !important;
}


/* =========================================== */
/* Finanzen */
/* Default margin-bottom bei progressbar löschen */
.progress {
    margin-bottom: 0;
}

/* Damit Text in Progressbar zentriert ist */
.progress {
    position: relative;
}
/* Damit Text in Progressbar immer zentriert ist */
.progress span {
    position: absolute;
    left: 0;
    width: 100%;
    color: black;
}

/* Tabs Navigation */
/* pro Tab 50% breite */
#financeTabs.nav > li {
    width: 50%;
}

/* Text in Tab zentrieren */
#financeTabs.nav > li > a {
    text-align: center;
}

/* ===========================================
    Navbar
============================================*/

/* Hover, focus anpassung für Navigation */
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: #D5D5D5;
    color: #000; /* black font when hover */
}

/* Brand Icon Anpassung für Grosse Bildschirme */
.brand {
    margin-top: 5px;
    margin-right: 10px;
    display: block;
}

/* Button für Sidebar */
#leftMenuBtn {
    float: left;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Pseudo Label für Rechten Content */
.bigLabel {
    display: none; /* wir nur angezeigt, wenn collapsed */
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 1000; /* Label vor alles andere setzen */
}


/* ===========================================
    Sidebar
============================================*/

/* Hover, focus anpassung für Sidebar */
.nav  > li > a:hover, .nav > li > a:focus {
    background-color: #D5D5D5;
    color: #000;
}

/* ===========================================
    Carousel
============================================*/

#mainCarousel {
    /* margin-top: 60px;   /* margin to the navigation, when nav-fixed-top */
}

.carousel-caption {
    font-size: 24px; /* font size von carousel text */
}

.carousel-caption h4 {  /* font size von carousel titel */
    font-size: 32px
}


/* ===========================================
    Standard Carousel Einstellungen
============================================*/
#mainCarousel .item {
    height: 500px;   
}

#slide1 {
    background: url('../images/carousel_large_01.jpg') top center no-repeat;
}
#slide2 {
    background: url('../images/carousel_large_01.jpg') top center no-repeat;
}
#slide3 {
    background: url('../images/carousel_large_01.jpg') top center no-repeat;
}
#slide4 {
    background: url('../images/carousel_large_01.jpg') top center no-repeat;
}


/* ===========================================
    Callout
============================================*/

#mainCallout {
    margin-top: 10px; /* kleiner Abstand zu top für mainCallout */   
}

/* ===========================================
    Footer
============================================*/
footer {
    position: fixed; /* immer fix */
    bottom: 0; /* am unteren Rand */
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100%;
    background-color: #F9F9F9; /* gleich wiw bg color */
    border-top: 1px solid #E3E3E3; /* Rahmen oben hellgrau */
    display: block;
}

footer > div {
    height: 100%; /* ganzer footer ausfüllen */
}

footer > div > p {
    /* Text vertical zentrieren */
    margin-top: 15px; 
    margin-bottom: 15px;
}

/* ===========================================
    Media Queries
============================================*/

/* portrait tablet bis grössere Bildschirme */
@media (max-width: 1200px) {
    aside {
        width: 25%;
    }
    
    #mainContent {
        width: 73%;
    }
    
    /* ===========================================
        Navbar
    ============================================*/

    /* Logo bei Tablet und kleiner zentriert anzeigen */
    .brand {
        margin-top: 5px;
        position: absolute;
        left: 50%;
        margin-left: -20px !important;  /* 50% von logo */
        display: block;
    }
}

/* Landscape phone bis portrait tablet */
@media (max-width: 767px) {
    /* ===========================================
        Global Styles
    ============================================*/
    html, body {
        overflow-x: hidden;/* kein Scrollen nach links und rechts */
    }

    body {
        margin-top: 58px; /* Abstand zu Navigation.*/
    }

    /* Grösse des Container bis fast an Rand */
    #mainContainer {
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

    .well .page-header h1 {
        margin-top: 5px;   
    }

    /* ===========================================
        Sidebar auf Mobile - Toggle
    ============================================*/
    /* Sidebar */
    aside {
        padding: 0;
        left: -60%; /* Versteckt */
        width: 60%; /* Breite von Nav */
        height: 100%; /* volle höhe */
        float: left;
        position: fixed; /* nicht scrollbar */
        top: 50px; /* genau unter Navigation */
        bottom: 0; /* bis zum boden */
        z-index: 1000; /* immer vorderster layer */
    }

    /* Hauptcontent */
    #mainContent {
        width: 100%;
        height: 100%;
        float: right;
    }

    /* Langsam einfliegen */
    aside, #mainContent {
        -webkit-transition: 0.25s ease; /* Ab Safari V.3.1 und Chrome V.4.0 */
        -moz-transition: 0.25s ease; /* FF ab .4.0 */
        -o-transition: 0.25s ease; /* Opera ab V.10.5 */
        transition: 0.25s ease; /* Ab Browser Version: Chrome V.26, IE V.10, FF V.16, Safari V.6.1, Opera V.12.1 */
    }

    /* Schiebe Left Menu nach rechts */
    #leftNav.showLeftMenu {
        /* links Versteckt */
        /* GPU benutzen für bessere Animation /* X, Y, Z */
        -webkit-transform: translate3d(100%,0,0); /* Browser Version: Chrome V.12, Safari V.4, Opera V.23 */
        -moz-transform: translate3d(100%,0,0); /* Firefox V.10 */
        -ms-transform: translate3d(100%, 0, 0); /* IE 9 */
        transform: translate3d(100%,0,0); /* Ab Browser Versionen: Chrome V.36, IE V.10, FF V.16, Opera V.23*/
    }

    /* Schiebe Content nach rechts */
    #mainContent.moveRight {
        /* abstand zu linkem rand, nach rechts verschieben */
        /* GPU benutzen für bessere Animation /* X, Y, Z */
        -webkit-transform: translate3d(62%,0,0); /* Ab Browser Version: Chrome V.12, Safari V.4, Opera V.23 */
        -moz-transform: translate3d(62%,0,0); /* Firefox V.10 */
        -ms-transform: translate3d(62%, 0, 0); /* IE 9 */
        transform: translate3d(62%,0,0);/* Ab Browser Versionen: Chrome V.36, IE V.10, FF V.16, Opera V.23*/
    }

    /* Damit Content Recht klickbar wird */
    .showBigLabel {
        display: block;
    }

    /* ===========================================
        Sidebar auf Mobile - Design
    ============================================*/
    #leftNav {
        background-color: #222; /* Hintergrund gleich navbar */
    }

    /* Design Sidebar*/
    .nav-pills > li.active > a, 
    .nav-pills > li.active > a:focus, 
    .nav-pills > li.active > a:hover {
        background-color: #000;
        color: #fff;
    }

    /* Design Sidebar*/
    .nav-pills > li > a {
        color: #9d9d9d;
        border-radius: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /* Rahmen unterhalb Nav li elemente */
    .nav-pills > li {
        border-bottom: 1px solid;
    }

    /* Kein Abstand zwischen Nav li Elementen */
    .nav-stacked>li+li  {
        margin: 0;
    }

    /* ===========================================
        Carousel Einstellungen
    ============================================*/
    #mainCarousel .item {
        height: 310px;   
    }

    #slide1 {
        background: url('../images/carousel_small_01.jpg') top center no-repeat;
    }
    #slide2 {
        background: url('../images/carousel_small_01.jpg') top center no-repeat;
    }
    #slide3 {
        background: url('../images/carousel_small_01.jpg') top center no-repeat;
    }
    #slide4 {
        background: url('../images/carousel_small_01.jpg') top center no-repeat;
    }

    /* Kleinere Schriftgrösse für kleinere Bildschirme */
    .carousel-caption {
        font-size: 16px;   
    }

    .carousel-caption h4 {
        font-size: 22px; 
    }
}

/* Portrait & landscape Smartphone */
@media (max-width: 480px) {

    /* ===========================================
        Global Styles
    ============================================*/
    body {
        margin-top: 60px; /* Abstand zu Navigation.*/
    }

    /* Damit auf Smartphone nicht zu viel Platz */
    /* verschwendet wird */
    .well {
        padding: 5px;
    }

    /* Grösse Überschrift 1 auf mobile etwas kleiner */
    h1 {
        font-size: 1.6em;
    }

    /* =========================================== */
    /* Shopping List */

    /* kein Padding um Platz zu sparen */
    .nopadding-right-xs {
        padding-right: 1px !important;
    }

    .nopadding-left-xs {
        padding-left: 1px !important;
    }

    .nopadding-xs {
        padding: 0 !important;
    }
}